<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "{% static 'css/big_home.css' %}">
    <link rel="stylesheet" href= "{% static 'css/small_home.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap" rel="stylesheet">
    {%block css%}{%endblock%}
</head>


<div class="knopka"> 
                <button class="button" onclick="toggleMenu()">Меню</button>
                <div class="menu" id="menu">
                    <h2 class="vozm-stor">Возможные направления:</h2>
                    <ul>
                        <a href="{% url 'home' %}">
                            <button class="menu-link">Главная</button>
                        </a><br><br>
                        <a href="{% url 'museum' %}">
                            <button class="menu-link">Музеи</button>
                        </a><br><br>
                        <a href="{% url 'monuments' %}">
                            <button class="menu-link">Памятники</button>
                        </a><br><br>
                        <a href="{% url 'restaurant' %}">
                            <button class="menu-link">Кафе и рестораны</button>
                        </a><br><br>
                        <a href="{% url 'sport' %}">
                            <button class="menu-link">Cпорт и развлечения</button>
                        </a><br><br>
                        <br><br>
                    </ul>
                </div>
            </div>  
   

{%block content%}

{%endblock%}
<footer class="footer">
    <div class="footer-container">
        <div class="footer-section">
            <h3><span class="emoji">🔥</span> Хочешь связаться с нами?<br>Вот наши данные!</h3>
            <p>✉️ markx0347@yandex.com</p>
            <p>📞 +7-967-310-22-55</p>
            <div class="social-links">
                <a href="https://m.vk.com/id459053622"><i>VK</i></a>
                <a href="https://t.me/mmarkc1"><i>TG</i></a>

            </div>
        </div>
        
        <div class="footer-section">
            <h3><span class="emoji">💬</span> Есть идеи?</h3>
            <p>Хочешь добавить новое место или знаешь лайфхак для туристов? Кидай предложения в личку!</p>
        </div>
        
        <div class="footer-section">
            <h3><span class="emoji">📸</span> Твой Новоросc</h3>
            <p>Делись своими тревел-сториз с хештегом:</p>
            <span class="hashtag">#НоворосcТоп</span>
            <p>Самые яркие фото попадут на главную!</p>
        </div>
        
        <div class="copyright">
            <p>© 2024-2025 Новороссийск – не просто город, а настроение! <span class="emoji">🌊</span></p>
        </div>
    </div>
</footer>


</html>
<script>
    function toggleMenu() {
        const menu = document.getElementById('menu');
        menu.classList.toggle('active');
    }
    document.addEventListener('click', function(event) {
            const menu = document.getElementById('menu');
            const button = document.querySelector('.button');
            const isClickInsideMenu = menu.contains(event.target);
            const isClickInsideButton = button.contains(event.target);

            if (menu.classList.contains('active') && !isClickInsideMenu && !isClickInsideButton) {
                menu.classList.remove('active'); // Скрываем меню
            }
        });
        const navbar = document.getElementById("navbar");
    const hero = document.querySelector(".hero");

    window.addEventListener("scroll", () => {
      if (window.scrollY >= hero.offsetHeight) {
        navbar.classList.add("fixed");
      } else {
        navbar.classList.remove("fixed");
      }
    });


</script>