{% extends 'base.html'%}
{% load static %}

{%block css%}
<link rel="stylesheet" href= "{% static 'css/big-park.css' %}">
<link rel="stylesheet" href= "{% static 'css/small-park.css' %}">
{%endblock%}

{%block footer%} 
<button class="button-museum-home">
    <a href="{% url 'home' %}" class="link-museum-home">На главную</a>
</button>

{%endblock%}

{% block content%}
<br>
<div class="start-head-park">
    <img src="{% static 'images/more2.JPG'%}" class="start-img-park">
    <h1 class="start-text-park">Самые красивые места Новороссийска</h1>
</div>

<div class="museum-boss">
    <div class="text">
        <h1 class="text-boss">Планетарий имени Ю.А. Гагарина</h1>
        <p class="min-boss-text">Музей космонавтики в Новороссийском планетарии – где звёзды становятся ближе!

            Погрузитесь в историю покорения Вселенной в уникальном музее при планетарии. Здесь вас ждёт:<br>  
            
            🚀 Подлинные артефакты – скафандры, космические приборы и даже образцы метеоритов, которые можно потрогать!<br>  
            🌑 Интерактивная "Лунная база" – почувствуйте себя космонавтом в реалистичном модуле с панорамой Земли из иллюминатора.<br>  
            📡 Секретная связь с орбитой – уникальный экспонат: действующий макет центра управления полётами.  
            📸 Фото в невесомости – специальная зона с 3D-эффектами для "космических" снимков.<br>  
            
            Эксклюзив: личные вещи Юрия Гагарина и новороссийцев, участвовавших в космической программе СССР.<br>  
            
            ✨ После экскурсии – обязательно загляните в звёздный зал на шоу "Тайны Чёрных дыр"!
            После музея можно посетить звездный зал и узнать много нового о космосе!<br> <br><br>
            
            📍 ул. Советов, 53А, Новороссийск<br>
            🕙 пн - вс - с 10:00 до 18:00(начало сеанса каждый час)<br>
            📞 +7 (8617) 64-48-12<br>
            ✉️ planetnovoros@mail.ru<br>
            Telegramm:   <a class='teg' href="https://t.me/planetnovoros">https://t.me/planetnovoros</a><br>
            Vk:    <a  class='teg' href="https://vk.com/planet_novoross">https://vk.com/planet_novoross</a><br><br><br>
            Переходи по сслыку и узнавай больше о планетарии и бронируй билеты!
            <a  class='teg' href="https://novoplanet.ru/">https://novoplanet.ru/</a>
             </p>
    </div>
    <div class="gallary-planet">
        <img class="photo-planet" src="{% static 'images/planet1.png'%}"><br>
        <img class="photo-planet" src="{% static 'images/planet2.webp'%}">
    </div>
</div>

{% endblock %}