{% extends 'base.html'%}
{% load static %}

{%block css%}
<link rel="stylesheet" href= "{% static 'css/big-monuments.css' %}">
<link rel="stylesheet" href= "{% static 'css/small-monuments.css' %}">
{%endblock%}

{%block footer%} 
<button class="button-museum-home">
    <a href="{% url 'home' %}" class="link-museum-home">На главную</a>
</button>

{%endblock%}

{% block content%}

<div class="head-monuments">
    <img src="{% static 'images/pam-head.jpg'%}" class="pam-start-img">
    <h1 class="pam-start-text">ГЛАВНЫЕ ПАМЯТНИКИ НОВОРОССИЙСКА:<br>ИСТОРИЯ ОЛИТАЯ В МЕТАЛЛЕ</h1><br>
</div>

<div class="cart-pam">

    <img src="" class="cart-img">
    <h1 class="cart-text">text</h1>
</div>
<br><br><br>

<div class="body-cart">
    <div class="cards-container">
        <!-- Карточка 1 -->
        <div class="card">
            <img src="https://via.placeholder.com/400x300" alt="Пример изображения" class="card-image">
            <div class="card-content">
                <h3 class="card-title">Заголовок карточки 1</h3>
                <p class="card-text">Это пример текста для карточки. Здесь может быть описание изображения или другая полезная информация, которая помещается в пару предложений.</p>
            </div>
        </div>
        
        <!-- Карточка 2 -->
        <div class="card">
            <img src="https://via.placeholder.com/400x300" alt="Пример изображения" class="card-image">
            <div class="card-content">
                <h3 class="card-title">Заголовок карточки 2</h3>
                <p class="card-text">Еще один пример текста для карточки. Вы можете заменить это содержимое на свое, включая изображение и текст по вашему выбору.</p>
            </div>
        </div>
        
        <!-- Карточка 3 -->
        <div class="card">
            <img src="{% static 'images/planet1.png' %}" alt="Пример изображения" class="card-image">
            <div class="card-content">
                <h3 class="card-title">Заголовок карточки 3</h3>
                <p class="card-text">Третья карточка с примером текста. Обратите внимание, что все карточки имеют одинаковую высоту и выравниваются в ряд.</p>
            </div>
        </div>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

{% endblock %}