{% extends 'base.html'%}                                                                                                                                                                                    
{% load static %}                                                                                                                                                                                           
                                                                                                                                                                                                             
{%block css%}
<link rel="stylesheet" href= "{% static 'css/big-rest.css' %}">
<link rel="stylesheet" href= "{% static 'css/small-rest.css' %}">                                                                                                                                                                                              
<link rel="stylesheet" href= "{% static 'css/big_home.css' %}">
<link rel="stylesheet" href= "{% static 'css/small_home.css' %}">                                                                                                                                    
{%endblock%}                                                                                                                                                                                                                                                                                                                                                                                          
         

{% block content%}                                                                                                                                                                                          
     <div class = "provodnik">
            <img src='{%static "images/logo2.jpg"%}' class="images-logo-novoross-n">
            <p class="text-home-logo-n">Проводник<br>
            по достопримечательностям<br>
            г. Новороссийск</p>
        </div>                                                                                                                                                                                                               
    <div class="hero">
        <img src="{%static 'images/fon-rest.jpeg'%}" alt="home" class="images-fon">
        <div class="overlay"></div>

      <div class="hero-text">
       Рестораны Новороссийска: отдых, вкус, атмосфера
      </div>

    </div>                                                                                                                                                                                               
            
<div class="museum">
        <h1 class="text-museum">Гурман</h1>
        <p class="text-mus-start">Кафе «Гурман» — это место, где можно попробовать блюда грузинской кухни, 
            приготовленные по старинным рецептам.<br>
Кафе находится по адресу: проспект Ленина, 27А, Новороссийск.<br>
Кухня и меню:<br>
Гурман предлагает блюда русской и кавказской кухни, пиццу, хинкали, шашлык, бизнес-ланчи, а также еду навынос. Средний чек составляет около 450–800 ₽.
<br>
Атмосфера и особенности:<br>
Есть уютная летняя веранда, Wi-Fi. Обслуживание и порции часто хвалят за быстроту и статус «вкусно и сытно» .
 
</p><br>
            <button class="button-museum">
                <a href="https://gurman-prospekt-lenina.clients.site/" class="link-museum">Узнать больше о ресторане</a>
            </button>
    </div>
<div class="gallary-monuments">
    <div>
        <img src="{%static 'images/gurman1.webp'%}" class="photo-rest1">
    </div>        
    <div class="photo-rest">
        <img src="{%static 'images/gurman2.webp'%}" class="photo-rest2">
    </div>
</div><br><br>

{% endblock %}              