{% extends 'base.html'%}                                                                                                                                                                                    
{% load static %}    

{%block css%}                                                                                                                                                                                               
<link rel="stylesheet" href= "{% static 'css/big-sport.css' %}">                                                                                                                                        
<link rel="stylesheet" href= "{% static 'css/small-sport.css' %}"> 
<link rel="stylesheet" href= "{% static 'css/big_home.css' %}">
<link rel="stylesheet" href= "{% static 'css/small_home.css' %}">                                                                                                                                     
{%endblock%}      


{% block content %}
<div class = "provodnik-none-dis">
  <img src='{%static "images/logo2.jpg"%}' class="images-logo-novoross-n">
  <p class="text-home-logo-n">Проводник<br>
            по достопримечательностям<br>
            г. Новороссийск</p>
</div>  
<div class="hero-fon-sport">
  <div class="overlay-sport"></div>
  <div class="hero"></div>
  <h1 class="start-sport-text-head">КУДА ПОЙТИ В НОВОРОССИЙСКЕ:<br> СПОРТ И АКТИВНЫЙ ОТДЫХ</h1><br><br>
  <p class="second-text-head-sport">Спорт и развлечения Новороссийска — это энергия и ритм города. 
    Каждая площадка и каждое событие открывают новые возможности для активного отдыха и дарят незабываемые впечатления.</p>
</div>

<div class="text">
  <h1 class="text-sport">ВОЛЕЙБОЛ<br>Nordostvolley ГОО НФВ</h1>
  <p class="text-sport-start">Новороссийская федерация волейбола — это сердце волейбольной жизни города, место, 
    где спорт объединяет людей разных возрастов и интересов. Здесь проходят 
    регулярные тренировки для всех — от самых маленьких любителей активных 
    игр до опытных спортсменов, желающих поддерживать форму и развивать мастерство. 
    Залы и площадки федерации всегда открыты для тех, кто хочет приобщиться к этому динамичному и зрелищному виду спорта.<br><br>
    В течение года федерация организует множество событий: чемпионаты, турниры, мастер-классы и 
    открытые тренировки, которые собирают участников и зрителей со всего города. Для детей работает 
    несколько команд разных возрастов, что позволяет каждому ребёнку попробовать свои силы, найти друзей и 
    почувствовать командный дух. Атмосфера здесь тёплая и дружеская — часто проводятся спортивные вечеринки, праздники 
    и тематические встречи, превращающие тренировки в настоящее событие.<br><br>
    Особое внимание уделяется развитию игроков: проводятся семинары для тренеров и спортсменов, мастер-классы от известных волейболистов, а
     также открытые лекции о правильном питании и подготовке к соревнованиям. Федерация активно участвует в жизни города, поддерживая массовый 
     спорт и привлекая новых людей в волейбол.
    Новороссийская федерация волейбола — это место, где спорт становится образом жизни, где каждый может найти себе команду по душе, 
    обрести новых друзей и вместе с ними радоваться победам. Это пространство для роста, общения и вдохновения, которое заряжает энергией и делает 
    город по-настоящему спортивным.</p>
    <button class="button-sport">
      <a href="https://nfv23.ru/" class="link-sport">Узнать подробнее</a>
    </button>
</div>

<div class="photo-section-sport">
  <div class="photo-column-sport">
    <img src="{% static 'images/sport-vol3.PNG' %}" alt="Фото 1" class="photo-small-sport">
    <img src="{% static 'images/sport-vol2.jpg' %}" alt="Фото 2" class="photo-small-sport">
  </div>
    <div class="photo-large-container">
      <img src="{% static 'images/sport-vol1.jpg' %}" alt="Фото 3" class="photo-large-sport">
    </div>
</div>
{% endblock %}