@media screen and (max-width:2100px) and (min-width: 751px){
    .start-park-head{
        display: flex;
    }
    .start-more-img{
        width: 100%;
    }
    .t{
        margin-left: 200px;
    }
}