@media screen and (max-width: 750px){

    .button-museum-home{
        background-color: #007BFF;
        border-radius: 3px;
        border: none;
        margin-left: 5px;
    }
    .start-head-park{
        position: relative;
    }

    .start-text-park{
        color: rgb(0, 0, 0);
        z-index: 1;
        margin-top: -27vw;
        font-size: 6vw;
        color: white;
        margin-left: 5vw;

    }
    .start-img-park{
        width: -100vw;
        height: -500vw;
        margin-top: -150px;
    }
}