@media screen and (max-width: 750px){
.koffein-menu{
  gap: 5rem;
}
.text-rest3{
  font-size: 7vw;
  text-align: center;
  margin-left: 62%;
}
.text-koffein-menu{
        font-size: 3.5vw;
        text-align: center;
        margin-left: 9vw;
        margin-right: 6vw;
}
.photo-section{
  margin-bottom: 5rem;
}
.text-paragraph{
  padding-top: 1rem;

}
/* Для маленьких экранов */
.slider {
  position: relative;
  width: 80%;          /* занимает всю ширину экрана */
  max-width: 800px;     /* но не шире 800px */
  height: auto;         /* высота автоматически */
  aspect-ratio: 16/10;  /* сохраняем пропорции */
  overflow: hidden;
  border-radius: 10px;
  background: #ffffff;
  margin: 0 auto;       /* центрируем */
}

.slider img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

/* Кнопки остаются по бокам */
.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.4);
  color: #fff;
  border: none;
  padding: 12px;
  cursor: pointer;
  font-size: 20px;
  z-index: 10;
  transition: background 0.3s;
}

.btn:hover {
  background: rgba(0,0,0,0.7);
}

.btn.left {
  left: 0;               /* прижата к левому краю */
  border-radius: 0 8px 8px 0;
}

.btn.right {
  right: 0;              /* прижата к правому краю */
  border-radius: 8px 0 0 8px;
}
.button-museum{
  margin-left: 15%;
}
.menu-link-head4{
    display: none;
}
  .photo-rest2{
  flex: 0 0 auto; /* Запрет на сжатие и растяжение */
        width: 70vw; /* Фиксированная ширина фотографии */
        height: auto; /* Фиксированная высота фотографии */
        border-radius: 5px;

}
.photo-rest1{
  width: 93vw;
  height: auto;
  padding-left: 1vw;
  padding-top: 20px;
  border-radius: 5px;
}

.hero {
        position: relative;
        height: 100vh;
        overflow: hidden;
        
      }
      .images-fon {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
      }
      .hero-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 1.9rem;
        font-weight: bold;
        text-align: center;
        padding: 0 10px;
        margin-top: 50%;
        word-wrap: break-word;
      }
}