
@media screen and (max-width: 750px){

    
    .int-loc{
        padding-top: 40px;
        padding-left: 5vw;
    }
    .text-int-loc{
        font-size: 7vw;
    }
    .text-int-loc-start{
        font-size: 5vw;
        padding-top: 10px;
    }
    .photo-int-loc{
        margin-top: 10px;
        border-radius: 5px;
        width: 87vw; /* Фиксированная ширина фотографии */
        height: 66.8vw; /* Фиксированная высота фотографии */
        
    }
    .menu-link{
        width: 260%;
        margin-left: -60px;
        font-size: 2.5vw;
        border: none;
        background-color: #007BFF;
        color: #ffffff;
    }
    .menu-link:hover{
        background-color: #ddd;
    }
    .vozm-stor{
        padding-bottom: 40px;
    }
    
    a{
        text-decoration: none;
        color: #ffffff;
    }
    .gallary-monuments{
        display: flex;
        padding-left: 10px;
        padding-top: 20px;
        gap: 20px;
    }
    .photo-mon{
        flex: 0 0 auto; /* Запрет на сжатие и растяжение */
        width: 44vw; /* Фиксированная ширина фотографии */
        height: 33.8vw; /* Фиксированная высота фотографии */
    }
    .gallery {
                width: 100%; /* Ширина на весь экран */
                overflow-x: auto; /* Горизонтальный скролл */
                display: flex;
                gap: 10px; /* Зазор между фотографиями */
                padding: 10px; /* Отступы вокруг галереи */
                scroll-snap-type: x mandatory; /* Привязка к фотографиям при скролле */
                scroll-behavior: smooth; /* Плавный скролл */
                background-color: #014877; /* фон за фотографиями */
            }
    .photo {
                flex: 0 0 auto; /* Запрет на сжатие и растяжение */
                width: 250px; /* Фиксированная ширина фотографии */
                height: 200px; /* Фиксированная высота фотографии */
                border-radius: 5px; /* Скругление углов */

                display: flex;
                justify-content: center;
                align-items: center;
                scroll-snap-align: start; /* Привязка к началу фотографии */
            }
    .photo img {
                max-width: 100%;
                max-height: 100%;
                border-radius: 10px; /* Скругление углов у изображения */
            }
    
    .museum{
        padding-top: 40px;
        padding-left: 5vw;
    }
    .button-museum{
        font-size: 6vw;
        background-color: #007BFF;
        color: white;
        border: none;
        border-radius: 4px;
        margin-bottom: 15px;
    }
    .button-museum:hover{
        background-color:#014877
    }
    .text-museum{
        font-size: 7vw;
    }
    .text-mus-start{
        font-size: 5vw;
        width: 90%;
    }
    
    
    
    .search-string{
        padding-top: 17px;
        padding-left: 50px;
    
    
    }
    
    #searchInput{
        padding: 10px;
        font-size: 10px;
        width: 100px;
        border: 2px solid;
        border-radius: 10px;
        margin-left: -70px;
        
        
        
    }
    
    .search{
        width: 50px;
        height: 20px;
        border-radius: 5px;
        background-color: #007BFF;
        color: #ffffff;
        cursor: pointer;
        border: none;
        font-size: 10px;
        box-shadow: 1.5rem 1rem 3rem rgba(0,0,0,0.4);
        margin-top: 70px;
        text-align: left;

    }
    
    .search:hover{
        background-color: #014877;
        
    }
    
    .knopka{
        background-color: #007BFF;
    }
    
    body {
                font-family: "Roboto", serif;
                margin: 0;
                padding: 0;
                overflow-x: hidden; /* Запретить горизонтальную прокрутку */
        }
    .menu {
                position: fixed;
                right: -350px; /* Скрываем меню за пределами экрана */
                top: 0;
                width: 110px;
                height: 100%;
                color: white;
                transition: right 0.5s ease; /* Анимация для выезда меню */
                padding: 20px;
                background-color: #007BFF;
        }
    .menu.active {
                right: 0; /* Показываем меню */
                background-color: #007BFF;
                padding-right: 50px;
            }
    .button {
                position: absolute;
                top: 20px;
                right: 20px;
                padding: 10px 20px;
                background-color: #007BFF;
                color: white;
                border: none;
                border-radius: 5px;
                font-size: 15px;
                cursor: pointer;
                margin-right: 40px;
            }
    .button:hover{
                background-color:#014877;
            }
    .vozm-stor{
        font-size: 12px;
    }
    
    .map{
        box-shadow: 1.5rem 1rem 3rem rgba(0,0,0,0);
        border-radius: 10px;
        width: 90%;
        height: 98vwpx;
        margin-left: 20px;
        filter: grayscale(0.3);
    
    }
    .start-text{
        width: 90%;
        margin-top: 10px;
        font-size: 5vw;
        margin-left: 20px;
    }
    .text-map{
        padding-top: 20px;
        font-size: 15px;
        justify-content: space-between;
    }
    
    .start-header{
        background-color: #014877;
        margin-top: 30px;
        position: relative;
    }
    .start-text-novoross{
        color: white;
        width: 50%;
        padding-left: 20px;
        padding-top: 30px;
        font-size: 120%;
        position: absolute;
    }
    
    .start-back-img{
        width: 60%;
        height: 65%;
        margin-left: 130px;
        margin-bottom: 20px;
        margin-top: 40px;
        border-radius: 15px;
        box-shadow: 1.5rem 1rem 3rem rgba(0,0,0,0.5);
    
    }
    
    .num{
        margin-left: 7%;
    }
    
    .mini{
    
    display: flex;
    justify-content: space-around;
    margin-left: 20px;
    }
    
    
    .trubka{
    width: 40px;
    height: 40px;
    margin-top: 20px; 
    margin-left: 30%;
    float: left;
    }
    
    
    header{
    background-color: #01279a;
    white-space: nowrap;
    width: 100%;
    background-size: cover;
    position: fixed;
    z-index: 1;
    
    }
    
    
    
    .flex{
    display: flex;
    justify-content: space-between;
    }
    
    .icona{
    width: 40px;
    height: 40px;
    margin-left: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 16px;
    float: left;
    
    }
    
    .provodnik{
    margin-top: 34px;
    line-height: 1px;
    font-size: 2.2vw;
    margin-left: 60px;
    color: #ddd;
    }
    
    .number_tel{
    margin-right: 150px;
    margin-top: 50px;
    font-size: 15px;
    color: #ddd;
    }
    
    }
    